@import "../../assets/style/app";

.admin {
  position: relative;
  padding: 16px;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;

  .borderBlock {
    margin-top: 16px;
    border: 2px solid royalblue;
    border-radius: 16px;
    padding: 0px 16px 16px;
  }


  .infoBlockColumn {
    @include infoBlockColumn
  }

  .btn {
    margin-top: 16px;
    @include centerRow;

    .preloaderWrapper {
      position: relative;

      .preloader {
        width: 25px;
        height: 25px;
        position: absolute;
        transform: translate(100%, -50%);
        top: 50%;
        right: -4px;
      }
    }
  }
}
